
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
/*Above size and family rules from the Style Guide*/

a:hover, a:visited, a:link, a:active
{
  color:#1177d1;
  text-decoration: none;
}


/*a colour is from the Style Guide*/

.SR {
  font-style: italic;
}
/*formerly color: #aa0000;*/


.topnav {
  background: #1177d1;
  text-align: center;
}
/*I added text-align centre to the topnav so that the home link was not disappearing to the left side of the page */

.PB {
  font-weight: bold;
  font-style: italic;
}
/*formerly color: #007700;*/

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

nav ul.vertical, nav ul.vertical a:hover, nav ul.vertical a:visited, nav ul.vertical a:link, nav ul.vertical a:active {
  flex-direction: column;
  color:#1177d1;
}
/*the previous colour for the sponsored links was white so they disappeared on the page. This is because they were affected by the style
of the navigation bar. For this reason I created their own class and took the colour from the style guide*/


nav ul li {
  flex: 1 1 auto;
  list-style-type: none; 
}

.currentlink:hover, .currentlink:visited, .currentlink:link, .currentlink:active {
  background: #d3edf4;
  color: #222222;
}

caption {
  text-align: left;
}
/*I added this so that the caption matched the text on the home page better*/

nav ul li a:hover, nav ul li a:visited, nav ul li a:link, nav ul li a:active { 
  color:#ffffff;
  text-decoration: none;
}
/*Above style rules from the Style Guide.*/

header {
  max-width: 50rem;
  margin: 0 auto;
}

header div {
  padding: 0.5rem 0.8rem;
  background-color: #002158 ;
  color: #ffffff;
}


header nav ul li a:hover, header nav ul li a:active, header nav ul li a:link, header nav ul li a:active {
  display: block;
  padding: 0.5rem 0.8rem;
  text-align: center;
}

header nav ul li a[aria-current="true"] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

article {
  flex: 1 1 auto;
}

.body {
  padding: 0.5rem 0.8rem;
}
/*The text on the page was too close to the left side of the screen so I added a small amount of padding to make it more usable*/

figure {
  float: right;
}

figcaption {
  font-size: 0.8rem;
}

aside {
  flex: 0 0 auto;
  width: 8rem;
}

footer {
  max-width: 50rem;
  margin: 0 auto;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  border-top: 1px;
  border-style: solid;
  border-color: #1177d1;
  text-align: center;
}

footer li {
  text-decoration: none;
  font-weight: bold;  
  padding: 0 0.5rem;
  list-style: none;
  display: inline;
}
/*I made the links above bold, capitalised 'Use' and changed the CSS to spread the links out to make 
  the writing easier to read for colour blind users */ 


table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1rem;
}

table th {
  text-align: left;
  padding: 0.3rem 0.5rem;
}

table td {
  padding: 0.3rem 0.5rem;
}

table tbody th {
  font-weight: bold; 
  font-size: large;
  background: lightgrey;
}
/*To make the table more readable for colour blind users, I added a light grey background to the headers
on the table to make those lines stand out more without with contrast.  */


table thead tr th {
  background: #dddddd;
}

table tbody tr:nth-child(2n) th,
table tbody tr:nth-child(2n) td {
  background: #efefef;
}


table tfoot {
  font-size: 0.8rem;
}

table tfoot p {
  margin: 0;
}

